.container {
    background-color: grey;
    margin:20px 30px 30px 20px;
    padding: 20px;
}

.col-md-6{
    background-color: yellow;
    color:black;
}

.col-md-3{
    background-color: green;
    color:black;
}